# Objects and Operators in Python

In [1]:
x = 38

y = "emailid@pyhton.com"

In [2]:
print(x)

print(y)

38
emailid@pyhton.com

In [3]:
print(type(x))

print(type(y))

<class 'int'>
<class 'str'>

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
a = 5 # a is a variable, which is assigned value 5. Here "a = 5" is the object. 

id(a) # The number which comes as output represents the "Address in Memory" or the Identity of the Object.

140703750332944

In [6]:
type(a) # a is assigned 5, which is an Integer. So, the type of object is "int"

int

In [7]:
type('nilabh') # str means String.

str

In [8]:
type(3.5)

float

In [9]:
type(['x','yz','abc']) # list containing 3 strings

list

In [10]:
type(['x','y', 1 ]) # list containing 2 strings and one number

list

In [11]:
type({'food':'spam','taste':'yum'}) # dictionary

dict

In [12]:
bytes(b'nilabh')

b'nilabh'

In [13]:
'nilabh' # this is a string. 'n' at 0th place and 'h' at 5th place

'nilabh'[3] # slicing. Slice of the string 'nilabh' at 3rd plae, gives 'a'

'a'

In [14]:
ord('nilabh'[3]) # this is same as ord('a')

97

In [15]:
ord('a')

97

In [16]:
chr(97) # function chr() covnerts the integer to corresponding string object of 1 length

'a'

In [17]:
print(chr(96))
print(chr(100))
print(chr(99))
print(chr(1045))
print(chr(100009))

`
d
c
Ð•
ð˜š©

## Operations on objects in python

Till now, we have learned all in theory. Now we will start putting the same in practice. We will start with the simplest of tasks. Typing and Printing in Python. 
word of caution: Printing here means Printing Output in Python, not Printing a hard copy from printer.

In [18]:
14+26 # Integer addition

40

In [19]:
1.5*4  # Float multiplication

6.0

In [20]:
2**100 # 2 to the power 100

1267650600228229401496703205376

In [21]:
4/2 # division always returns a floating point number

2.0

In [22]:
5>4 # Boolean operator

True

In [23]:
4 is 2*2

True

In [24]:
"i" in "string"

True

In [25]:
x = [1,2,3,"three", 4]

print(2 in x)            # gives True

print(5 in x)            # gives False

print("three" in x)      # gives True

True
False
True

In [26]:
if True:
    print('Hello')

Hello

In [27]:
if True:
print('Hello')

IndentationError: expected an indented block (<ipython-input-27-78e5790be1ca>, line 2)





Incorrect indentation will result into `IndentationError`.

In [28]:
# Area of a Rectangle

Length = 5

Breadth = 8

Area = Length * Breadth

print("Area of the Rectange is", Area)

print("perimeter of the rectangle is", 2*(Length+Breadth))

Area of the Rectange is 40
perimeter of the rectangle is 26

In [29]:
six = 6
six

6

In [30]:
six = 'six'
six

'six'

In [31]:
'day'+1

TypeError: can only concatenate str (not "int") to str

In Python, however, it is possible to change the type of an object through built-in functions.

In [32]:
'day ' + str('1')

'day 1'

In [33]:
i = 5
if i<4:
    print('i is less than 4')
elif i<7:
    print ('i is less than 7')
else:
    print ('i is greater than 7')

i is less than 7

In [34]:
print ('Hello Word')

2+3

Hello Word

5

In [35]:
# Here are 2 Physical as well as 2 logical Lines again

i = 5
print(i)

5

In [36]:
# But Here, there is only one Physical line, but 2 Logical lines. 

i = 5; print(i)

5