# CHAPTER 3 - Python Basics

In [1]:
print("Hello World!")

Hello World!

In [2]:
2+2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

With Python, it is possible to use the ** operator to calculate powers:

In [10]:
5 ** 2  # 5 squared

25

In [11]:
2 ** 7  # 2 to the power of 7

128

The equal sign (`=`) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [12]:
width = 20
height = 5 * 9
# Notice that here when we run these lines, there will be no output.

In [12]:
'python strings' #single quotes

'python strings'

In [13]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [14]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [15]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [16]:
print('"Isn\'t," they said.')

"Isn't," they said.

If you don't want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [17]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [18]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

#### Concatenation and Repetition

In [19]:
'a'+'b'

'ab'

In [20]:
't'*5

'ttttt'

In [21]:
'no'*3+'dip'

'nononodip'

In [22]:
'nil' 'abh'

'nilabh'

In [23]:
text = ('Put several strings within parentheses-'
         '-to have them joined together.')

In [24]:
text

'Put several strings within parentheses--to have them joined together.'

In [25]:
word = 'Python'

In [26]:
word[0]  # character in position 0

'P'

In [27]:
word[5]  # character in position 5

'n'

In [28]:
word[-4]

't'

In [29]:
word[0:2] # characters from position 0 (included) to 2 (excluded)

'Py'

In [30]:
word[2:5] # characters from position 2 (included) to 5 (excluded)

'tho'

In [31]:
word[:2]+word[2:]

'Python'

In [32]:
word[:4]+word[4:]

'Python'

In [33]:
word[2] = 'l'

TypeError: 'str' object does not support item assignment

In [33]:
# The built-in function len() returns the length of a string:

len(word)

6

In [34]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [35]:
# We are assigning value of 45 to variable a

a = 45

# and then print a

print(a)

45

In [36]:
#now we assign same variable a another value

a = 3+2

# and then print a again

print(a)

5

In [37]:
2+3

5

In [38]:
15

15

In [39]:
a

5

In [40]:
'Hello World!'

'Hello World!'

In [41]:
print('Hello World!')

Hello World!

In [42]:
# Fibonacci series:
# the sum of two elements defines the next

a = 0
b = 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [43]:
# Same Fibonacci series:
# the sum of two elements defines the next

a, b = 0, 1
while a < 15:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13

In [44]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [45]:
# Same Fibonacci series:
# the sum of two elements defines the next

a, b = 0, 1
while a < 15:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,

In [46]:
a = 5
b = 6
ab = 5*6

print("when {} is multiplied by {}, the result is {}".format(a, b, ab))

when 5 is multiplied by 6, the result is 30

In [47]:
# One string variant

name = "Nilabh"
lastname = "Nishchhal"
place = "Mumbai"

print("{} {} lives in {}".format(name, lastname, place))

Nilabh Nishchhal lives in Mumbai

In [48]:
print("     /|")
print("    / |")
print("   /  |")
print("  /   |")
print(" /    |")
print("/_____|")

     /|
    / |
   /  |
  /   |
 /    |
/_____|

In [49]:
# notice the absence of closing " in the string

print("Hello World!)

SyntaxError: EOL while scanning string literal (<ipython-input-49-9d0e3bd45f27>, line 3)

In [50]:
# there is a space between 4 and 5

x = 3+ 4 5

x

SyntaxError: invalid syntax (<ipython-input-50-44afb4dc20cc>, line 3)

In [51]:
5/0

ZeroDivisionError: division by zero

In [52]:
# We want to print Hello Nilabh

name = "Nilabh"

print("Hello name")

Hello name