# Data Structures and Sequence

In [1]:
x = "nilabh"

print(x)

nilabh

In [2]:
x = "nilabh".capitalize()

print(x)

Nilabh

In [3]:
x = "nilabh".upper()

print(x)

NILABH

In [4]:
x = "Nilabh".swapcase()

print(x)

nILABH

In [5]:
s1 = "nilabh"

s2 = "nilabh"

In [6]:
# check if s1 and s2 are same objects

s1 is s2

True

In [7]:
# Reconfirming the above by checking their ids

print(id(s1))

print(id(s2))

3083324156592
3083324156592

In [8]:
s3 = s1.upper()

print(s3 is s1)

print(id(s3))
print(id(s1))

False
3083324020464
3083324156592

In [9]:
# 8, 9 and 'ten' will be filled in placeholders in that order.  

x = "seven, {}, {} and {}".format(8,9,"ten")

print(x)

seven, 8, 9 and ten

In [10]:
# 8 , 9 and ten will be filled in placeholders as per positions specified.  
x = "seven, {2}, {1} and {0}".format(8,9,"ten")

print(x)

seven, ten, 9 and 8

In [11]:
# 8 , 9 and ten will be filled with spaces on their right or left, depending on the '<' or '>' sign after ':' 

x = "seven, {2:<9}, {1:>9} and {0:9}.".format(8,9,"ten")

print(x)

seven, ten      ,         9 and         8.

In [12]:
# 8 , 9 and ten will be filled with Zeros on their right or left, depending on the '<' or '>' sign after ':' 

x = "seven, {2:<09}, {1:>09} and {0:>09}.".format(8,9,"ten")

print(x)

seven, ten000000, 000000009 and 000000008.

In [13]:
# f string method can take variables directly inside the placeholders 
a = "8"
b = "9"
c = "ten"

x = f"seven, {a}, {b} and {c}."


print(x)

seven, 8, 9 and ten.

In [14]:
'a'+'b'

'ab'

In [15]:
't'*5

'ttttt'

In [16]:
'no'*3+'dip'

'nononodip'

In [17]:
'nil' 'abh'

'nilabh'

In [18]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [19]:
print(text.split())

['Put', 'several', 'strings', 'within', 'parentheses', 'to', 'have', 'them', 'joined', 'together.']

In [20]:
print(text.split("i"))

['Put several str', 'ngs w', 'th', 'n parentheses to have them jo', 'ned together.']

In [21]:
split_text = text.split()

print(split_text)

['Put', 'several', 'strings', 'within', 'parentheses', 'to', 'have', 'them', 'joined', 'together.']

In [22]:
join_text = " ".join(split_text)

print(join_text)

Put several strings within parentheses to have them joined together.

In [23]:
join_text1 = "-".join(split_text)

print(join_text1)

Put-several-strings-within-parentheses-to-have-them-joined-together.

In [24]:
word = 'Python'
word[0]  # character in position 0

'P'

In [25]:
word[5]  # character in position 5

'n'

In [26]:
word[-4]

't'

In [27]:
word[0:2] # characters from position 0 (included) to 2 (excluded)

'Py'

In [28]:
word[2:5] # characters from position 2 (included) to 5 (excluded)

'tho'

In [29]:
word[:2]+word[2:]

'Python'

In [30]:
word[:4]+word[4:]

'Python'

In [31]:
word[2] = 'l'

TypeError: 'str' object does not support item assignment

If you need a new string, you need to create a new one.

In [32]:
# The built-in function len() returns the length of a string:

len(word)

6

In [33]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [34]:
ListofMovies = ['The Shawshank Redemption', 'The Godfather', 'Avatar', 'Terminator 2 - The Judgment day', 24, '12 Angry Men', 
'¡Three Amigos!', 'GOT']

In [35]:
ListofMovies

['The Shawshank Redemption',
 'The Godfather',
 'Avatar',
 'Terminator 2 - The Judgment day',
 24,
 '12 Angry Men',
 '¡Three Amigos!',
 'GOT']

In [36]:
even = [2,4,6,8,10,12,14]

In [37]:
even[0]  # indexing returns the item

2

In [38]:
even[-1]

14

In [39]:
even[1:4] # slicing returns a new list

[4, 6, 8]

In [40]:
even+[16,18,20,22]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [41]:
squares = [1, 4,9 , 17, 25]  # something's wrong here

 # the square of 4 is 16, not 17!
squares

[1, 4, 9, 17, 25]

In [42]:
squares[3] = 16 #replacing the wrong value

squares

[1, 4, 9, 16, 25]

In [43]:
len(squares)

5

In [44]:
# to produce a simple list of ['a','s','i',a]

[i for i in 'asia']

['a', 's', 'i', 'a']

In [45]:
# to create a list of numbers of a range

mylist = [i for i in range(10)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In the above example, we did not give any condition.

In [46]:
# to create a list of even numbers from 0 to 20

evens = [i for i in range(20) if i%2==0]

evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
# to create the following list using list comrehension, from a simple list
# create [x,xx,xxx,y,yy,yyy, z, zz, zzzz]

mylist = ['x','y','z']

[i*n for i in mylist for n in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [48]:
# Getting to answer by for loop
combs = []
for x in [1,2,3]:
     for y in [3,1,4]:
         if x != y:
             combs.append((x, y))
                
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [49]:
# Getting to answer by List comprehensions

[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [50]:
x = [-2, -4, 5, 8, 2.2, 44]

del x[0]

x

[-4, 5, 8, 2.2, 44]

In [51]:
del x[2:4]

x

[-4, 5, 44]

In [52]:

del x

In [53]:
x

NameError: name 'x' is not defined

In [54]:
t = 1234, 5678, 'xyz' # t is a tuple here

In [55]:
t # notice, how a tuple when called, comes with 'paranthesis', i.e ()

(1234, 5678, 'xyz')

In [56]:
u = t, ('a', 'b','c') # u is a nested tuple

In [57]:
u

((1234, 5678, 'xyz'), ('a', 'b', 'c'))

In [58]:
colours = {'red', 'black','blue','orange', 'red', 'pink', 'white', 'black'}

# in the colours set, there are some duplicates when we created the set. 
#See how they are removed when the set is called or pritned

colours

{'black', 'blue', 'orange', 'pink', 'red', 'white'}

In [59]:
# fast membership testing for sets

'red' in colours

True

In [60]:
'purple' in colours

False

In [61]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')

In [62]:
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [63]:
b # unique letters in b

{'a', 'c', 'l', 'm', 'z'}

In [64]:
# just for comparison, what happens in a list for same text and how sets weed out duplicates.

triallist = list('abracadabra')

triallist

# all the alphabets of 'abracadabra' are retained as it is and in order of occurance in a list

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [65]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [66]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [67]:
a & b                              # letters in both a and b

{'a', 'c'}

In [68]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [69]:
a = {x for x in 'abracadabra' if x not in 'abc'}

a

{'d', 'r'}

In [70]:
# here is a small example of dictionary

# this is a directory of phone numbers of one household

household = {'ramesh':9893200000, 'surabhi':9893200311}

household

{'ramesh': 9893200000, 'surabhi': 9893200311}

In [71]:
# a new member is added to the household

household['sush'] = 9893200422

household

{'ramesh': 9893200000, 'surabhi': 9893200311, 'sush': 9893200422}

In [72]:
# dictionary is indexed by keys. its not ordered indexed, as in list or string

household['surabhi']

9893200311

In [73]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [74]:
# Squares of numbers generated {x : x**2 for x in (2, 3, 4 ,5)}

In [75]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [76]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [77]:
for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

In [78]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [79]:
for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [80]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

In [81]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
     if not math.isnan(value):
         filtered_data.append(value)

In [82]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]